@use "variables" as vars;
@use "mixins" as mix;

//* Footer */
.footer {
  background-color: vars.$color-text;
  color: #fff;
  padding: 25px 20px;
  text-align: left;

  .footer_logo {
    font-family: "Shrikhand", cursive;
    font-size: 22px;
    margin-bottom: 15px;
  }

  .footer_nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      display: flex;
      align-items: center;

      i {
        margin-right: 8px;
      }
    }
  }
}
