@use "variables" as vars;
@use "mixins" as mix;

/* Header */
header {
  @include mix.shadow;
  position: relative;
  text-align: center;
  padding: 1rem 0;
  background-color: #ffffff;

  .logo {
    display: inline-block;
  }

  .logo img {
    height: 30px;
    width: auto;
    display: block;
  }

  .back-link {
    position: absolute;
    left: 1.2rem;
    top: 1rem;
    font-size: 1.2rem;
    color: vars.$color-text;
  }
}
