/* Variables principales */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-bg: #f6f6f6;
$color-text: #353535;

$font-main: "Roboto", sans-serif;
$font-title: "Shrikhand", cursive;
